<% @questions.each do |question| %>
  <div class="row">
    <h3><%= question.content %></h3>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= form_for [question, @response], remote: true do |f| %>
        <%= f.label question.option_1 %>
        <%= f.check_box :option_1, {}, true, false %>
        <%= f.label question.option_2 %>
        <%= f.check_box :option_2, {}, true, false  %>
        <%= f.submit 'Vote' %>
      <% end %>
  </div>
<% end %>
